<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>团队新闻</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="/static/front/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/static/front/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/static/front/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link
		href="http://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
		rel="stylesheet">
	<link
		href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		rel="stylesheet">
	<!-- //Web-Fonts -->
	<!-- //Web-Fonts -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
	<div class="w3l-hear-top">
		<!-- header -->
		<header>
			<!-- logo -->
			<div class="logo">
				<h1>
					<a href="index.html" class="text-center text-white" style="margin-left: 1400px;">
						<!-- <i class="far fa-paper-plane pr-2"></i> -->
						<img src="/static/front/images/logo/logo1.png" style="width: 20%;height: auto;" alt="">
						<!-- <span>CDSIC-NJAU</span> -->
					</a>

				</h1>
			</div>
			<!-- //logo -->
			<!-- search -->
			<div class="w3ls_search">
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li>
							<a class="cd-search-trigger" href="#cd-search">
								<span></span>
							</a>
						</li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- //search -->
			<!-- menu -->
			<div class="side_menu">
				<div class="burger_box">
					<div class="menu-icon-container">
						<a href="#" class="menu-icon js-menu_toggle closed">
							<span class="menu-icon_box">
								<span class="menu-icon_line menu-icon_line--1"></span>
								<span class="menu-icon_line menu-icon_line--2"></span>
								<span class="menu-icon_line menu-icon_line--3"></span>
							</span>
						</a>
					</div>
				</div>
				<div class="container">
					<h3 class="menu_title my-4">Menu</h3>
					<ul class="list_load">
						<!-- <li class="list_item">
							<a href="all.html">All Pages</a>
						</li> -->
						<li class="list_item">
							<a href="/index">首页</a>
						</li>
						<li class="list_item">
							<a class="active" href="#">团队新闻</a>
						</li>
						<li class="list_item">
							<a href="/project">科研成果</a>
						</li>
						<li class="list_item">
							<a href="filed.html">研究方向</a>
						</li>
						<li class="list_item">
							<a class="onclick_demo" href="#">客座教授</a>
						</li>
						<li class="list_item">
							<a class="onclick_demo" href="#">联系我们</a>
						</li>
						<!-- <li class="list_item">
							<a class="onclick_demo" href="#">404 Error Page</a>
						</li>
						<li class="list_item">
							<a class="onclick_demo" href="#">Blog</a>
						</li>
						<li class="list_item">
							<a class="onclick_demo" href="#">Single Page</a>
						</li>
						<li class="list_item">
							<a class="onclick_demo" href="#">Contact Us</a>
						</li> -->
						<script>
							// $(".onclick_demo").onclick(function(){

							// 	console.log("1");
							// 	alert("该页面正在开发中,目前不开放!");

							// });

							$(".onclick_demo").bind("click", function () {
								console.log("1");
								alert("该页面正在开发中,目前暂不开放!");
							})

						</script>
					</ul>
				</div>
			</div>
			<!-- //menu -->
		</header>
		<!-- //header -->
		<!-- banner-2 -->


		<style>
			.page-head_agile_info_w3l {
				background: url(/static/front/images/news/index3.png);
				background-size: cover;
			}
		</style>

		<div class="page-head_agile_info_w3l">
		</div>
		<!-- //banner-2 -->
		<!-- page -->
		<div class="services-breadcrumb">
			<div class="agile_inner_breadcrumb">
				<div class="container-fluid">
					<ul class="w3_short font-italic">
						<li>
							<a href="/index">Home</a>
							<i>|</i>
						</li>
						<li>NEWS</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //page -->
	</div>

	<!-- blog -->
	<div class="blog-w3l py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title text-center mb-sm-5 mb-4">
				<h3 class="text-dark ">团队新闻</h3>
				<!-- <p>该页面展示了计智伟教授团队的最新科研成果</p> -->
			</div>
			<div class="row blog-content">
				<!-- left side -->
				<div class="col-lg-8 blog_section">
					<div class="card my-4" th:each="neww:${news}">
						<div class="card-body ">
							<h5 class="card-title">
								<a th:href="'/news/'+${neww.nid}" class="text-dark" th:text="'['+${#dates.format(neww.ndate,'yyyy-MM-dd')}+'] ' + ${neww.ntitle}" >[2021-12-15] 高欣教授为课题做作线上报告 &nbsp; </a>
								&nbsp; <a th:if="${#dates.format(neww.ndate,'yyyy-MM-dd') ge #dates.format(time, 'yyyy-MM-dd')}"><span style="color: red;"> new!!</span></a>
							</h5>
							<p class="card-text" th:text="${neww.nsynopsis}">12月15日晚，高欣教授应邀参加题为肺癌淋巴结转移智能诊断模型构建的报告，报告的主要内容是探究深度学习在肺癌淋巴结转移诊断中的应用，提出了采用图像融合、特征融合以及决策融合的方式改进现有算法，获得了比现有方法更优的性能，并采用热图可视化病灶区域，为医生的临床诊断提供参考，达到辅助医生诊断的目的。
							</p>
						</div>
					</div>

					
					<nav aria-label="Page navigation example">
						<ul class="pagination mt-5">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>

					</nav>
					<!-- //left side -->
				</div>


				<!-- right side -->
				<div class="col-lg-4 event-right mt-lg-0 mt-sm-5 mt-4">
					<div class="event-right1">
						<div class="search1 my-4">
							<!-- <form class="form-inline" action="#" method="post"> -->
							<form class="form-inline" action="#">
								<input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search Here"
									aria-label="Search" required>
								<!-- <button class="btn btn-outline-success rounded-0 mt-3" type="submit">Search</button> -->
								<button class="btn btn-outline-success mt-3" onclick="OnclickDemo()">Search</button>
								<script>
									function OnclickDemo() {
										alert("该功能正在努力开发中！");
									}
								</script>
							</form>
						</div>
						<div class="categories my-4 p-4 border">
							<a href="project.html">	<h3 class="blog-title text-dark">科研成果</h3> </a>
							<ul>
								<li class="mt-3" th:each="pro:${project}">
									<i class="fas fa-check mr-2"></i>
									<a href="single1.html" th:text="${#strings.abbreviate(pro.ptitle,19)}">一种深度聚类算法用于植物病害诊断识别</a>
								</li>
							</ul>
						</div>
						<div class="posts p-4 border">
							<a href="filed.html"><h3 class="blog-title text-dark">研究方向</h3></a>
							<div class="posts-grids">
								<div class="row posts-grid mt-4">
									<div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
										<a href="#">
											<img src="/static/front/images/e1.jpg" alt=" " class="img-fluid" />
										</a>
									</div>
									<div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-4">
										<h4>
											<a href="#" class="text-dark">Sed ut perspiciatis unde omni</a>
										</h4>
										<ul class="wthree_blog_events_list mt-2">
											<li class="mr-2 text-dark">
												<i class="fa fa-calendar mr-2" aria-hidden="true"></i>15/05/18
											</li>
											<li>
												<i class="fa fa-user" aria-hidden="true"></i>
												<a href="single.html" class="text-dark ml-2">Admin</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="row posts-grid mt-4">
									<div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
										<a href="#">
											<img src="/static/front/images/e2.jpg" alt=" " class="img-fluid" />
										</a>
									</div>
									<div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-4">
										<h4>
											<a href="#" class="text-dark">Sed ut perspiciatis unde omni</a>
										</h4>
										<ul class="wthree_blog_events_list mt-2">
											<li class="mr-2 text-dark">
												<i class="fa fa-calendar mr-2" aria-hidden="true"></i>23/05/18
											</li>
											<li>
												<i class="fa fa-user" aria-hidden="true"></i>
												<a href="#" class="text-dark ml-2">Admin</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="row posts-grid mt-4">
									<div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
										<a href="#">
											<img src="/static/front/images/e3.jpg" alt=" " class="img-fluid" />
										</a>
									</div>
									<div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-4">
										<h4>
											<a href="#" class="text-dark">Sed ut perspiciatis unde omni</a>
										</h4>
										<ul class="wthree_blog_events_list mt-2">
											<li class="mr-2 text-dark">
												<i class="fa fa-calendar mr-2" aria-hidden="true"></i>13/06/18
											</li>
											<li>
												<i class="fa fa-user" aria-hidden="true"></i>
												<a href="#" class="text-dark ml-2">Admin</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- //right side -->
			</div>
		</div>
	</div>
	<!-- //blog -->

	<!-- footer top -->
	<br><br><br>
	<div class="middle-content py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 left-middle-wthree">
					<h4 class="text-white font-weight-bold text-uppercase">CDSIC-NJAU</h4>
					<p class="mt-3">欢迎你的加入!</p>
				</div>
				<div class="col-lg-6 left-middle-wthree mt-lg-0 mt-4">
					<h4 class="font-weight-bold se-agilem">联系我们</h4>
					<p class="mt-3">
						<i class="fas fa-phone mr-3 text-white"></i>+86 25 84395042
					</p>
				</div>
			</div>
			<!-- <div class="img-calling">
					<img src="images/1.png" alt="" class="img-fluid">
				</div> -->
		</div>
	</div>
	<!-- footer top -->

	<!-- footer -->
	<footer>
		<div class="w3ls-footer-grids py-5">
			<div class="container py-xl-5 py-lg-3">
				<div class="row">
					<div class="col-lg-8 col-md-9 w3l-footer">
						<!-- footer logo -->
						<h2 class="mb-3">
							<a href="index.html">
								<img src="/static/front/images/logo/logo1.png" style="width: 55%;" alt="">
							</a>
						</h2>
						<!-- //footer logo -->
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;本团队现与美国维克森林大学、德克萨斯大学、奥克兰大学、里海大学、新加坡国立大学和浙江大学的多个优秀团队建立了合作关系；课题组将每年选派老师或研究生出国访学。欢迎具有相关研究背景的海内外学者申请副教授、青年研究员、讲师，加盟我们的团队。
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;大数据智能计算研究中心（筹）经过近 1 年的快速发展，已吸纳了优秀学者共 15 人，包括副教授和讲师共 3 人，博士和硕士研究生共 8
							人，本科生 3
							人。热忱欢迎数学（信息与计算科学、应用数学、统计学）、计算机（机器学习、计算机视觉、数据挖掘）、自动化（复杂系统建模与计算智能、生物特征识别）、生物信息与系统生物学等专业或方向的学生报考（申请）博士生、硕士生。也欢迎本校在读的优秀本科生加盟团队参加项目实训！
						</p>
					</div>
					<!-- button -->
					<div class="col-lg-4 col-md-3 w3l-footer text-md-right text-center my-md-0 my-4">
						<a href="#" class="onclick_demo1 w3ls-button2 float-md-right text-white mt-md-5 mt-2">联系我们</a>
					</div>
					<!-- //button -->
				</div>
				<div class="row border-top mt-4 pt-lg-4 pt-3 text-lg-left text-center">
					<!-- copyright -->
					<p class="col-lg-8 copy-right-grids mt-lg-1">Copyright &copy; 2021.CDSIC-NJAU All rights
						reserved.
					</p>
					<!-- //copyright -->
					<!-- social icons -->
					<div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
						<ul>
							<li>
								<a href="#" class="rounded-circle">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="px-2">
								<a href="#" class="rounded-circle">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
							<li>
								<a href="#" class="rounded-circle">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="pl-2">
								<a href="#" class="rounded-circle">
									<i class="fab fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- //social icons -->
				</div>
			</div>
		</div>
	</footer>


	<!-- Js files -->
	<!-- Jquery -->
	<script src="/static/front/js/jquery-2.2.3.min.js"></script>
	<!-- //Jquery -->
	<script src="/static/front/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- menu -->
	<script src="/static/front/js/menu.js"></script>
	<!-- //menu -->

	<!-- search-bar -->
	<script src="/static/front/js/main.js"></script>
	<!-- //search-ba r-->

	<!-- smooth scrolling -->
	<script src="/static/front/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->

	<!-- start-smoth-scrolling -->
	<script src="/static/front/js/move-top.js"></script>
	<script src="/static/front/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script>
		function DateDiff(sDate1, sDate2) {  //sDate1和sDate2是yyyy-MM-dd格式
			var aDate, oDate1, oDate2, iDays;
			aDate = sDate1.split("-");
			oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式
			aDate = sDate2.split("-");
			oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
			iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数
			return iDays;  //返回相差天数
		}
	</script>
	<!-- start-smoth-scrolling -->

	<!-- move-top -->
	<script src="/static/front/js/move-top.js"></script>
	<!-- easing -->
	<script src="/static/front/js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="/static/front/js/land_mark.js"></script>

	<!-- //Js files -->

</body>

</html>